@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form method="get" asp-action="GetForeach" asp-controller="Home">
        <div class="form-group">
            <label for="xDoForeach">Valor de x:</label>
            <input type="text" name="color" id=""xDoForeach"/>
        </div>
        <button type="submit">
            GetForeach
        </button>
    </form>
</div>

